// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


// Theme Styles
@import "./app/assets/sass/style.react.scss";

// Default Layout themes
@import "./app/assets/sass/themes/layout/header/base/light.scss";
@import "./app/assets/sass/themes/layout/header/menu/light.scss";
@import "./app/assets/sass/themes/layout/brand/dark.scss";
@import "./app/assets/sass/themes/layout/aside/dark.scss";

// Header themes
// Light
//@import "./app/assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./app/assets/sass/themes/layout/header/base/dark.scss";
  
// Header Menu themes
// Light
//@import "./app/assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./app/assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import "./app/assets/sass/themes/layout/brand/dark.scss";
}
// Light
.brand-light {
  @import "./app/assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// Dark
//@import "./app/assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./app/assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem; 
  code { 
      overflow-y: auto;
      display: block;

      span {
        background: none transparent !important;
      }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;
   
    &.sortable {  
      .svg-icon-sort {
        opacity: 0;
      }
  
      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }    
  }

  .table.table-head-custom thead tr {
    .sortable-active {
        color: $primary !important;
    }
  }
}

/**
  * react-datepicker custom
  */
.react-datepicker {
  margin: 0.125rem 0 0 !important;
  font-size: 1rem !important;
  color: #3F4254 !important;
  text-align: left !important;
  list-style: none !important;
  background-color: #ffffff !important;
  background-clip: padding-box !important;
  border: 0 solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.42rem !important;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
  box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  background-color: #ffff !important;
}

.react-datepicker__header {
  border-color: none !important;
  border: none !important;
}

.react-datepicker-wrapper {
  width: 100%;
}


.custom-table .table th, .custom-table .table td {
  border : 0px 0px 0px 0px solid #EBEDF3 !important;
}

.cursor-default {
  cursor: default !important;
}

.card-list:hover {
  box-shadow: 0 40px 40px rgba(0,0,0,.16);
  transform: translate(0,-5px);
  transition-delay: 0s !important;
  cursor: pointer;
}


.category-center {
  text-align: -webkit-center;
}

.category-container {
  background-color: #ffff;
  padding: 10px 5px;
  width: 220px;
  display: flex;
  border-radius: 5px;
  // border: solid;
  // border-color: #C9F7F5;
}

.category-container.select {
  background-color: #E1F0FF;
}

.category-container:hover {
  background-color: #E1F0FF;
  cursor: pointer;
}

.category-container-title {
  align-self: center;
  width: 100%;
}

.category-container-action {
  align-self: center;
  width: 80px;
  display: flex;
}